BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-b824157cf4e5f6a6450a66b7849aba66@henselphelps.com
DTSTART:20230207T160000Z
DTEND:20230207T200000Z
DTSTAMP:20230120T221800Z
CREATED:20230120
LAST-MODIFIED:20230120
SUMMARY:University of Florida
DESCRIPTION:University of Florida Spring 2023 Career Fair\nTuesday, February 7, 2023\n9:00 AM – 1:00 PM\nO’Connell Center\nInfo Session: An info session will be held on Monday, February 6 from 1:00 PM – 3:00 PM in Rinker Hall.\n \nFor more information, visit UF’s Career Events site.\n
URL:https://henselphelps.com/events-archive/university-of-florida-6/
ORGANIZER;CN=:MAILTO:
END:VEVENT
END:VCALENDAR