BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-1c628154a44069042e4b326df79fd38f@henselphelps.com
DTSTART:20230207T170000Z
DTEND:20230207T230000Z
DTSTAMP:20221219T165400Z
CREATED:20221219
LAST-MODIFIED:20221219
SUMMARY:Auburn University
DESCRIPTION:Auburn University Spring Career Fair\nTuesday, February 7, 2023\n10:00 AM – 4:00 PM\nAuburn University Hotel and Conference Center\n \nFor more information, please visit Auburn’s College of Engineering site.\n
URL:https://henselphelps.com/events-archive/auburn-university-6/
ORGANIZER;CN=:MAILTO:
END:VEVENT
END:VCALENDAR