BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-ceddef5c988cddc49f8c0c2f4f8852af@henselphelps.com
DTSTART:20230207T200000Z
DTEND:20230207T230000Z
DTSTAMP:20230120T203000Z
CREATED:20230120
LAST-MODIFIED:20230120
SUMMARY:University of Houston
DESCRIPTION:University of Houston Career Fair\nTuesday, February 7, 2023\n1:00 PM – 4:00 PM\n \n
URL:https://henselphelps.com/events-archive/university-of-houston-4/
ORGANIZER;CN=:MAILTO:
END:VEVENT
END:VCALENDAR