BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-0cad5adfb5b36b908b4bfe0e47371e3b@henselphelps.com
DTSTART:20230207T190000Z
DTEND:20230208T000000Z
DTSTAMP:20230125T182900Z
CREATED:20230125
LAST-MODIFIED:20230125
SUMMARY:Iowa State University
DESCRIPTION:Iowa State University Engineering Career Fair\nTuesday, February 7, 2023\n12:00 PM – 5:00 PM\nScheman Building and Hilton Coliseum\nWhether looking for an internship, co-op, post-graduate position, or networking for the future, don’t miss these opportunities; hundreds of employers will be participating in the fair!\n \nFor more information, please visit Iowa State’s Career Events site.\n
URL:https://henselphelps.com/events-archive/iowa-state-university-5/
ORGANIZER;CN=:MAILTO:
LOCATION:Scheman Building and Hilton Coliseum
END:VEVENT
END:VCALENDAR