BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-931bbcc1be76e466aea6eb35b6717730@henselphelps.com
DTSTART:20230208T170000Z
DTEND:20230208T220000Z
DTSTAMP:20230120T192000Z
CREATED:20230120
LAST-MODIFIED:20230120
SUMMARY:University of Cincinnati
DESCRIPTION:University of Cincinnati Career Fair\nWednesday, February 8, 2023\n10:00 AM – 3:00 PM\nTangeman University Center\nAt these multi-day on-campus recruiting events in September and February, hundreds of employers meet thousands of qualified students to fill full-time, co-op and internship positions, while students use the opportunity to talk directly with company representatives about the organization’s work, culture and hiring needs.\n \nFor more information, please visit University of Cincinnati’s Career Events site.\n \n
URL:https://henselphelps.com/events-archive/university-of-cincinnati-4/
ORGANIZER;CN=:MAILTO:
LOCATION:Tangeman University Center
END:VEVENT
END:VCALENDAR