BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-818e9df1d570bd50ac5f162712fef623@henselphelps.com
DTSTART:20230208T170000Z
DTEND:20230208T220000Z
DTSTAMP:20230120T190900Z
CREATED:20230120
LAST-MODIFIED:20230120
SUMMARY:Louisiana Tech University
DESCRIPTION:Louisiana Tech University Spring Career Day: STEM\nWednesday, February 8, 2023\n10:00 AM – 3:00 PM\nStudent Center\nSave the Date: Details to come! This is a two day, in face-to-face event. Day 1 Science, Technology Engineering, and Mathematics Day 2 Communication, Arts, Social sciences, Business, Aviation, and Health.\n \nFor more information, please visit Louisiana Tech’s Career Fair site.\n
URL:https://henselphelps.com/events-archive/louisiana-tech-university-2/
ORGANIZER;CN=:MAILTO:
LOCATION:Student Center
END:VEVENT
END:VCALENDAR