BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-558e3aa9f7f9b7049d1fadda292d23a1@henselphelps.com
DTSTART:20230207T000000Z
DTEND:20230207T020000Z
DTSTAMP:20230201T220300Z
CREATED:20230201
LAST-MODIFIED:20230201
SUMMARY:Colorado School of Mines
DESCRIPTION:Colorado School of Mines SWE Industry Reception\nMonday, February 6, 2023\n5:00 PM – 7:00 PM\nFriedhoff Hall, Green Center\nThe Networking Reception will include hors d’oeuvres and refreshments, as well as an opportunity for company representatives and SWE members to meet in a relaxed environment the evening before the spring career fair. We have also extended an invitation to Mines alumnae and students from the Multicultural Engineering Program (MEP) groups: AISES, NSBE, oSTEM, SASE, and SHPE.\n
URL:https://henselphelps.com/events-archive/colorado-school-of-mines-2/
ORGANIZER;CN=:MAILTO:
LOCATION:Friedhoff Hall, Green Center
END:VEVENT
END:VCALENDAR