BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-a02f16107bfaf3ec05880f999ebe0523@henselphelps.com
DTSTART:20230207T143000Z
DTEND:20230208T000000Z
DTSTAMP:20230125T182400Z
CREATED:20230125
LAST-MODIFIED:20230125
SUMMARY:University of Louisiana – Monroe
DESCRIPTION:University of Louisiana – Monroe Interviews\nTuesday, February 7, 2023\n7:30 AM – 5:00 PM\nULM School of Construction\n \n
URL:https://henselphelps.com/events-archive/university-of-louisiana-monroe/
ORGANIZER;CN=:MAILTO:
LOCATION:ULM School of Construction
END:VEVENT
END:VCALENDAR