BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-441ba8b924a353d6ec1ac4bff30df801@henselphelps.com
DTSTART:20230207T180000Z
DTEND:20230207T230000Z
DTSTAMP:20230106T161100Z
CREATED:20230106
LAST-MODIFIED:20230106
SUMMARY:South Dakota School of Mines & Technology
DESCRIPTION:South Dakota School of Mines & Technology Spring 2023 Career Fair\nTuesday, February 7, 2023\n11:00 AM – 4:00 PM\nKing Center – South Dakota Mines\nHeld once each semester, fall and spring, the South Dakota Mines Career Fair connects over 2,000 students with 219 employers nationwide (about a fourth from South Dakota, the rest from across the United States). Many employers recruit on our campus every year, but each Career Fair also sees new participants looking to recruit South Dakota Mines job seeking students. Many employers conduct next-day interviews with students.\n \nFor more information, please visit South Dakota School of Mines Career Fair site.\n
URL:https://henselphelps.com/events-archive/south-dakota-school-of-mines-technology-2/
ORGANIZER;CN=:MAILTO:
END:VEVENT
END:VCALENDAR