BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//WordPress - MECv5.19.0//EN
X-ORIGINAL-URL:https://henselphelps.com/
BEGIN:VEVENT
UID:MEC-b069f422014bef78e113594795f58b71@henselphelps.com
DTSTART:20230206T150000Z
DTEND:20230209T000000Z
DTSTAMP:20230125T162400Z
CREATED:20230125
LAST-MODIFIED:20230125
SUMMARY:Colorado School of Mines
DESCRIPTION:Colorado School of Mines Spring 2023 Career Days\nMonday, February 6, 2023 – Wednesday, February 8, 2023\nRec Center\nThe Colorado School of Mines is committed to supporting our employer partners with their recruiting effort s at Mines. In order to support the high volume of interest to recruit on-campus, we will be hosting a two-day Career Day in Spring 20 23. Employers will be able to select which day they would like to attend, in order to meet their scheduling needs. Thank you for partnering with the Colorado School of Mines.\n \nFor more information, please visit Colorado School of Mines Career Events site.\n
URL:https://henselphelps.com/events-archive/colorado-school-of-mines/
ORGANIZER;CN=:MAILTO:
LOCATION:Rec Center
END:VEVENT
END:VCALENDAR