<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Alticor Inc	</title>
	<atom:link href="https://henselphelps.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://publicwebsite.azurewebsites.net/</link>
	<description></description>
	<lastBuildDate>Wed, 08 Sep 2021 21:08:32 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.3</generator>
	<item>
		<title>
		Comment on University of Wisconsin, Stout by Amanda Schremser		</title>
		<link>https://henselphelps.com/events-archive/university-wisconsin-stout/#comment-38</link>

		<dc:creator><![CDATA[Amanda Schremser]]></dc:creator>
		<pubDate>Wed, 08 Sep 2021 21:08:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.henselphelps.com/?post_type=mec-events&#038;p=12201#comment-38</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://henselphelps.com/events-archive/university-wisconsin-stout/#comment-37&quot;&gt;Ben Kaplan&lt;/a&gt;.

We&#039;re actually at Wisconsin Madison this week! Make sure to stop by the Engineering Career Fair and say hi and introduce yourself! Here are additional details: https://www.henselphelps.com/events-archive/university-wisconsin-madison/

We look forward to meeting you!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://henselphelps.com/events-archive/university-wisconsin-stout/#comment-37">Ben Kaplan</a>.</p>
<p>We&#8217;re actually at Wisconsin Madison this week! Make sure to stop by the Engineering Career Fair and say hi and introduce yourself! Here are additional details: <a href="https://www.henselphelps.com/events-archive/university-wisconsin-madison/" rel="nofollow ugc">https://www.henselphelps.com/events-archive/university-wisconsin-madison/</a></p>
<p>We look forward to meeting you!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on University of Wisconsin, Stout by Ben Kaplan		</title>
		<link>https://henselphelps.com/events-archive/university-wisconsin-stout/#comment-37</link>

		<dc:creator><![CDATA[Ben Kaplan]]></dc:creator>
		<pubDate>Wed, 08 Sep 2021 16:05:49 +0000</pubDate>
		<guid isPermaLink="false">https://www.henselphelps.com/?post_type=mec-events&#038;p=12201#comment-37</guid>

					<description><![CDATA[I am a senior at University of WI in Madison and was hoping to interview with you.

Thanks for your consideration,

Ben
Ben Kaplan]]></description>
			<content:encoded><![CDATA[<p>I am a senior at University of WI in Madison and was hoping to interview with you.</p>
<p>Thanks for your consideration,</p>
<p>Ben<br />
Ben Kaplan</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Alticor Inc Hosts 2021 Technical Assistance Program by M&#38;M'S Coupons		</title>
		<link>https://henselphelps.com/hensel-phelps-hosts-2021-technical-assistance-program/#comment-34</link>

		<dc:creator><![CDATA[M&#38;M'S Coupons]]></dc:creator>
		<pubDate>Fri, 02 Jul 2021 18:27:40 +0000</pubDate>
		<guid isPermaLink="false">https://www.henselphelps.com/?p=11731#comment-34</guid>

					<description><![CDATA[Great content! Keep up the good work!]]></description>
			<content:encoded><![CDATA[<p>Great content! Keep up the good work!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
