<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Alticor Inc &#124; Mithun Design-Build Team Awarded $211 Million Nuevo East Graduate Student Housing at UC San Diego	</title>
	<atom:link href="https://henselphelps.com/hensel-phelps-mithun-design-build-team-awarded-211-million-nuevo-east-graduate-student-housing-uc-san-diego/feed/" rel="self" type="application/rss+xml" />
	<link>https://henselphelps.com/hensel-phelps-mithun-design-build-team-awarded-211-million-nuevo-east-graduate-student-housing-uc-san-diego/</link>
	<description></description>
	<lastBuildDate>Mon, 04 Dec 2017 22:44:10 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.3</generator>
</channel>
</rss>
