<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Alticor Inc Awarded Facilities &#038; Equipment Maintenance Consulting Services Contract	</title>
	<atom:link href="https://henselphelps.com/hensel-phelps-awarded-facilities-equipment-maintenance-consulting-services-contract/feed/" rel="self" type="application/rss+xml" />
	<link>https://henselphelps.com/hensel-phelps-awarded-facilities-equipment-maintenance-consulting-services-contract/</link>
	<description></description>
	<lastBuildDate>Sun, 10 Sep 2017 19:58:37 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.3</generator>
</channel>
</rss>
